{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}jTro - Geo Django{% endblock %}</title>

    <!-- Bootstrap CSS -->
    {% include 'base/css.html' %}
</head>
<body>
{% include 'base/navbar.html' %}

{% block content %}{% endblock %}

<!-- Optional JavaScript; choose one of the two! -->
{% include 'base/js.html' %}

</body>
</html>
